* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

body {
	background: #55ACEE;
	color: #fff;
	height: 100vh;

	main {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		header {
			line-height: 214px;
			font-size: 3em;
			flex: 1;
		}

		.quote-box {
			font-size: 1.5em;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			.quote {
				padding-top: 30px;
				flex: 1;
			}

			.author {
				flex: 2;
			}
		}

		.button-box {
			flex: 1;

			.trigger {
				margin-top: 50px;
				display: block;
				height: 35px;
				width: 400px;
				font-size: 1em;
				border: 1px solid #fff;
				cursor: pointer;
				background: #55ACEE;
				color: #fff;
				transition: .3s;

				&:hover {
					background: #fff;
					color: #55ACEE;
				}
			}

			.tweet {
				display: inline-block;
				width: 400px;
				height: 35px;
				line-height: 35px;
				border: 1px solid #fff;
				margin-top: 40px;
				text-decoration: none;
				color: #fff;
				transition: .3s;

				&:hover {
					background: #fff;
					color: #55ACEE;
				}
			}
		}
	}
}